<div th:fragment="gallery" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Имя тату</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid d-block mx-auto" src="" alt="">
                <!-- <p></hp>Tattoo</p> -->
                <br>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Цена</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>Размер</td>
                        <td>4567</td>
                    </tr>
                    <tr>
                        <td>Рейтинг</td>
                        <td><div class="raiting">
                            <div class="raiting__body">
                                <div class="raiting__active">
                                    <div class="raiting__items">
                                        <input type="radio" class ="raiting__item" value="1" name="raiting">
                                        <input  type="radio" class ="raiting__item"  value="2" name="raiting">
                                        <input  type="radio" class ="raiting__item" value="3" name="raiting" >
                                        <input  type="radio" class ="raiting__item" value="4" name="raiting" >
                                        <input  type="radio" class ="raiting__item" value="5" name="raiting" >

                                    </div>
                                </div>
                            </div>
                            <div class="raiting__value">3.6</div>
                        </div></td>
                    </tr>
                    <tr>
                        <td><br>Ваша оценка</td>
                        <td><div class ="simple-rating">
                            <div class ="simple-rating__items">

                                <input id="s_r_5" type="radio" class ="simple-rating__item" name="simple-rating" value="5">
                                <label for="s_r_5" class="simple-rating__label"></label>

                                <input id="s_r_4" type="radio" class ="simple-rating__item" name="simple-rating" value="4">
                                <label for="s_r_4" class="simple-rating__label"></label>

                                <input id="s_r_3" type="radio" class ="simple-rating__item" name="simple-rating" value="3">
                                <label for="s_r_3" class="simple-rating__label"></label>

                                <input id="s_r_2" type="radio" class ="simple-rating__item" name="simple-rating" value="2">
                                <label for="s_r_2" class="simple-rating__label"></label>

                                <input id="s_r_1" type="radio" class ="simple-rating__item" name="simple-rating" value="1">
                                <label for="s_r_1" class="simple-rating__label"></label>
                            </div>
                        </div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Записаться</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo1.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo3.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo4.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo5.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo6.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo7.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo8.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo9.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo10.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo11.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo12.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo13.jpg}" alt="...">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <img class="img-thumbnail mb-3" th:src="@{/img/tattoo14.jpg}" alt="...">
            </div>
        </div>
    </div>
</div>
</div>

<div th:fragment="filterSection" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="myBtnContainer">
    <button class="btn1 active" onclick="filterSelection('all')"> Все</button>
    <button class="btn1" onclick="filterSelection('nature')"> Цветные</button>
    <button class="btn1" onclick="filterSelection('cars')"> Черные</button>
    <button class="btn1" onclick="filterSelection('people')"> Мини</button>
</div>
</div>


<div th:fragment="pagination" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="pag__wrapper">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>