<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting</title>
    <meta charset="utf-8"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<!--<p th:text="${recipient}"></p>-->

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>phone</th>
        <th>rating</th>

        <!--            <th>Actions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.rating}"></td>
        <!--            <td>-->
        <!--                <a th:href="/@{'/edit/' + ${employee.id}}">Edit</a>-->
        <!--                &nbsp;&nbsp;&nbsp;-->
        <!--                <a th:href="/@{'/delete/' + ${employee.id}}">Delete</a>-->
        <!--            </td>-->
    </tr>
    </tbody>
</table>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>id</th>
        <th>picture</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="picture : ${pictures}">
        <td th:text="${picture.id}"></td>
        <td>
            <img th:src="@{/resource/__${picture.id}__}">
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>