<div th:fragment="signIn" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--    Вход-->
    <form class="container-fluid" th:action="@{/signIn}" method="post">
            <div class="col-md-4 offset-md-4">
                <div class="form-container">
                    <div class="form-icon"><i class="fa fa-user"></i></div>
                    <h3 class="title" th:text="Авторизация"></h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label th:text ="email"></label>
                            <input class="form-control" type="text" name="login" placeholder="email address" required>
                        </div>
                        <div class="form-group">
                            <label th:text ="password"></label>
                            <input class="form-control" name="password" type="password" placeholder="password" required>
                        </div>
                        <button type="submit" class="btn__signIn btn-default" th:text="Войти" name="Submit" ></button>
                    </div>
                </div>
            </div>
    </form>
</div>

<!--SignUp-->
<!--Регистрация-->
<div th:fragment="signUp" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="container-fluid" th:action="@{/signUp}" method="post">
            <div class="col-md-4 offset-md-4">
                <div class="form-container">
                    <div class="form-icon"><i class="fa fa-user"></i></div>
                    <h3 class="title" th:text="Регистрация"></h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="form-group">
                                <label th:text ="login"></label>
                                <input class="form-control" name="login"  placeholder="login">
                            </div>
                            <div class="form-group">
                                <label th:text ="password"></label>
                                <input class="form-control" name="password" type="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <label th:text ="email"></label>
                                <input class="form-control" name="email" type="email" placeholder="email address">
                            </div>
                            <label th:text ="phone"></label>
                            <input class="form-control" name="phoneNumber"  placeholder="phone">
                        </div>
                        <button type="submit" class="btn__signUp btn-default" th:text="Зарегистрироваться" name="Submit" ></button>
                    </div>
                </div>
            </div>
    </form>
    <!--</th:block>-->
</div>